<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>選手詳細</title>
</head>
<body>
    
    <!-- 選手の詳細情報を表示 -->
    <table>
        <tr>
            <th>名前</th>
            <td th:text="${player.name}"></td>
        </tr>
        <tr>
            <th>チーム</th>
            <td th:text="${player.team.name}"></td>
        </tr>
        <tr>
            <th>背番号</th>
            <td th:text="${player.number}"></td>
        </tr>
		 <tr>
            <th>投/打</th>
            <td th:text="${player.tandb}"></td>
        </tr>
        <tr>
            <th>ポジション</th>
            <td th:text="${player.position.name}"></td>
        </tr>
		<tr>
		    <th>サブポジション</th>
		    <td>
		        <ul>
		            <li th:each="subposition : ${player.subpositions}"> 
		                <spanspan th:text="${subposition.name != null ? subposition.name : (未設定)}"></span>
					</li>
		        </ul>
		        <span th:if="${player.subpositions == null or player.subpositions.isEmpty()}">サブポジションなし</span>
		    </td>
		</tr>
        <tr>
            <th>詳細</th>
            <td th:text="${player.detail}"></td>
        </tr>
		
    </table>
    
    <!-- 戻るリンク -->
	<a th:href="@{/players/{team}(team=${player.team.name})}"> 選手一覧へ戻る</a>
	<br>
	
	<!-- チーム一覧へ戻るリンク -->
	<a th:href="@{/team}">チーム一覧へ戻る</a>
	<br>
	
	<!--menuへ戻る-->
		<a th:href="@{/menu}">メニュー画面</a>
</body>
</html>
